


/* Start Global */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Almarai', sans-serif;
font-family: 'Cairo', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
}



/* End Global */


/* Start Card  */

.card{
    width: 100%;
    height: 100%;
    margin: 10px;
    cursor: pointer;
    transition: .4s;


}

.card:hover .productName{
    text-decoration: underline;
}

.card .image {
    width: 235px;
    height: 350px;
    position: relative;
    margin-bottom: 25px;
  
}

.card .image img{
    width: 100%;
    height: 100%;
   
}

.card .image span{
    position:absolute;
    top: 10px;
    right: 8px;
    font-weight: 200;
    font-size: 30px;
}

.card .info{
    font-size: 12px;
    
    
}

.card .info .productName{
    font-weight: 500;
    font-size: 12px;
    transition: .4s;
}

.card .info .price .priceBefore{
    font-weight: 400;
    text-decoration: line-through;
    margin-right:8px ;

}

.card .info .price .priceAfter{
    color: #d6001c;
    
}

.card .info  .offer{
    color: #d6001c;
    margin-bottom: 8px;
    font-size: 11px;
}


/* End Card  */





/* Solution Here  */
.card{
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    flex-wrap: wrap;
    justify-content: space-around;
}
.f1{
    display: flex;
    flex-direction:column;
}


/* Solution Here  */